.number-box{
    margin-right: 75px;
}

.number-box .fa-gender{
    font-size: 36px;
    font-weight: 500;
}

.section-heading, #discipline-selector {
    display: inline-block;
    float: none;
    margin: 0;
}

.section {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;
}

.section-paragraph {
    line-height: 1.2;
}

.custom_chart {
    margin-bottom: 40px;
}
div#map {
    min-height: 360px;
    max-width: 600px;
}

div#map2 {
    min-height: 360px;
    max-width: 600px;
}
.dc-chart g.axis text {
  
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
.dc-chart g.axis text span::before {
    content: "\A";
    white-space: pre;
  }
